@model IEnumerable<Tankdaten.Models.TankdatenViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fahrzeug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetanktAm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kosten)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fahrzeug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetanktAm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kosten)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
